body {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		0deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
}

#main-container {
	border: 5px solid white;
	border-radius: 5px;

	h1 {
		text-align: center;
		padding: $container-padding;
	}
}

.gradient {
	position: relative;
	background: linear-gradient(to right, red, purple);
	padding: 5px;
	background: linear-gradient(
		130deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	border-radius: 6px;
}

#password {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 85px;
	font-size: 1.2rem;
	text-align: center;
	opacity: 0.9;
	border-radius: 6px;
	resize: none;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;

	&::placeholder {
		color: black;
		opacity: 0.75;
	}
}

#count-text {
	color: #9e9e9e;
}
